/* Used only for Quiz component */
/* The container */
.container {
  display: grid;
  cursor: pointer;
  padding: 0;
  width: fit-content;
  height: fit-content;
  align-content: center;
  justify-content: center;
}

/* Hide the browser's default checkbox */
.container input {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  grid-column-start: 1;
  grid-row-start: 1;
  background-color: #ddd;
}
.rounded {
  clip-path: circle(50% at 50% 50%);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #94D969;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  grid-column-start: 1;
  grid-row-start: 1;
  margin-left: 35%;
  margin-top: 15%;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  width: 30%;
  height: 60%;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}